
@font-face {
	font-family: "Montserrat";
	src: url("_font/Montserrat-Regular.otf");
}
table {
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 60px;	
	font-family: 'Montserrat', sans-serif;
	
}

td{
	padding: 10px;
}


td.left{text-align: right;}

td.right{text-align: left;}


table#identify{
	margin: auto;
}