
@font-face {
	font-family: "KGSecondChances";
	src: url("_font/KGSecondChancesSketch.ttf");
}

@font-face {
	font-family: "Montserrat";
	src: url("_font/Montserrat-Regular.otf");
}





.center{margin: auto; text-align: center;}

body{padding: 0; margin: 0;} 




h1,
h2,
h3,
h4,
h5,
h6,
p,
label{	
	font-family: "KGSecondChances", sans-serif;

}

p{color: #1D1B1B; font-size:20pt;}

h1{
	font-size:30pt;
	color: #1D1B1B;
}


div.header{}



div#container{width: 100%;}

div#login{width: 100%; height: 720px; background: #CEE7F9; padding-top: 40px;}
div#perfil{width: 100%; height: 720px; background: #CFF7F6; padding-top: 40px;}

div#cadastro{width: 100%; background: #EFEC8C; padding: 30px 0;}

div.form{width: 80%; max-width: 400px; padding-top: 25px;}


div.form form input[type="text"], input[type="password"]{
	max-width: 360px;
}

div.form form input, select{
	margin: 20px 5px;
	width: 100%; line-height: 50px;
	height: 50px;
	font-family: "KG Second Chances Sketch", sans-serif;
	color: black;
	padding: 0 20px;
	border: 1px solid #E5E5E5;	
 }
 
 
 
 input[type="submit"]{font-size: 15pt;}
 input[type="text"],input[type="password"], select {font-size: 13pt;}
 
 
input[type="text"]:FOCUS,
input[type="password"]:FOCUS,
select:FOCUS{
 	background: #F4F4F4;
 	     -o-box-shadow: 1px 1px 10px #1BFA30;
 	   -moz-box-shadow: 1px 1px 10px #1BFA30;
 	-webkit-box-shadow: 1px 1px 10px #1BFA30;
			box-shadow: 1px 1px 10px #1BFA30;
 	}

 select{border: none;padding: 0 20px;}


input[type="radio"]{
margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}







 .btn {
 	padding: 0 20px;
 	padding: 4px 12px; 
	margin-bottom: 0;	  
	font-size: 14px;
	line-height: 20px;	 
	color: black;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: #2AE344;
	background-repeat: repeat-x;
	border: 1px solid #50d13d;
	font-family: 'Montserrat', sans-serif;
	
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
        
    -webkit-transition: background linear .3s;
       -moz-transition: background linear .3s;
         -o-transition: background linear .3s;
    		transition: background linear .3s;
}


.btn:hover{background: #43a929;}

.title span{
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt; 
	color: #565656;
	padding: 5px 0;
	width: 400px; 
	border-bottom-right-radius:2em;
	border-bottom-left-radius:2em;	
	position: absolute; 
	background: #faffbd; 
	margin: -21px 6px;
		
	     -o-transition: all .6s linear .5s;
	   -moz-transition: all .6s linear .5s;
	-webkit-transition: all .6s linear .5s;
			transition: all .6s linear .5s;
	
		 -o-opacity: 0;
 	   -moz-opacity: 0;
 	-webkit-opacity: 0;
 			opacity: 0;	
			
}


.title:hover span{
	display: block;
	opacity:.8;
}


.administrator-request {
	color: green;
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	padding: 30px;
	border: 3px dashed black;
	max-width: 500px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}



.denied-request {
	color: red;
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	padding: 30px;
	border: 3px dashed black;
	max-width: 500px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.acepted-request {
	color: green;
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	padding: 30px;
	border: 3px dashed black;
	max-width: 500px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

span.error{width: 100%; height: 30px; color: red; font-family: 'Montserrat', sans-serif; font-size: 10pt;}





a, a.btn-defaut{
	margin: 3px;
	text-decoration: none;
	color: white;			
	padding: 7px 20px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

a.btn-defaut{background: green; border: 1px solid green;transition: all linear .3s;}
a.btn-defaut:hover{background: white; color: green;}

a.btn-aceitar{background: green;border: 1px solid green;transition: all linear .3s;}
a.btn-aceitar:hover{background: white; color: green;}

a.btn-recusar{background: #E30606;border: 1px solid #E30606;transition: all linear .3s;}
a.btn-recusar:hover{background: white;  color: #E30606;}

















